python-dotenv
numpy
pandas
pyarrow
faiss-cpu
sentencepiece
torchscale
open-clip-torch
deep-translator>=1.11.4
transformers
torch
Pillow
sentence-transformers
fastapi
uvicorn
pydantic-settings
python-multipart
opencv-python
tqdm
elasticsearch>=8.0.0,<9.0.0
easyocr

langchain==0.2.16
langchain-core==0.2.39
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-anthropic==0.1.23
langchain-nvidia-ai-endpoints==0.2.2
langchain-google-genai==1.0.10
ffmpeg-python
